body {
    font-family: 'Open Sans', sans-serif;
    margin:40px auto;
    max-width:768px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
    shape-rendering: crispEdges;
    text-align: center;
}

h1,h2,h3 {
    line-height:1.2;
}

.link {
    font-size: 12px;
}

#description {
    text-align:center;
    widht: 40%;
}
svg {
    width: 100%;
    height: 50%%;
    min-height: 400px;
    min-width: 350px;
}

.y.axis .tick line {
    display: none;
}

svg text {
    fill: #444;
}

.axis text {
    font-size: 12px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #444;
}

.y.axis path {
    display: none;
}
